<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= users_path %>">Photogram</a>
      <% if current_user %>
        <a href="<%= users_path %>">Homepage</a>
        <a href="<%= user_path current_user %>">Dashboard</a>
        <a href="<%= logout_path %>" data-method='delete'>Logout</a>
      <% else %>
        <a href="<%= login_path %>">Login</a>
        <a href="<%= register_path %>">Register</a>
      <% end %>
    </div>
  </div>
</nav>
