<h2>Everyone's Posts</h2>

<% @posts.each do |post| %>
  <p>
    <a href='<%= user_path post.user %>'><%= post.user.name %></a>
  </p>
  <p><a href="<%= post_path post %>"><img src="<%= post.image.url(:medium) %>"></a></p>
  <h4><%= post.content %></h4>
  <p>
    <% if post.user == current_user %>
      <a href="<%= post_path post %>" data-method='delete'>Delete Post</a>
    <% end %>
  </p>

  <% if post.comments %>
    <% post.comments.limit(3).each do |comment| %>
      <%= render 'partials/comments.html.erb', comment: comment %>
    <% end %>
  <% end %>

  <a href="<%= post_path post %>">View All Comments</a>

  <%= render 'partials/make_comments.html.erb', post: post %>
<% end %>
