<h2><%= @user.name %>'s Dashboard</h2>

<% if @user == current_user %>
  <form action='<%= posts_path %>' method='post' enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Upload Image:</label>
    <input class='btn btn-default' type="file" name="post[image]">

    <label>Description</label>
    <textarea name="post[content]" rows="4" cols="47"></textarea>

    <input class='btn btn-primary' type="submit" value="Upload">
  </form>
<% end %>

<% @posts.each do |post| %>
  <p>
    <a href="<%= post_path post %>"><img src="<%= post.image.url(:medium) %>"></a>
  </p>
  <h4><%= post.content %></h4>
    <p>
      <% if post.user == current_user %>
        <a href="<%= post_path post %>" data-method='delete'>Delete Post</a>
      <% end %>
    </p>

  <% if post.comments %>
    <% post.comments.each do |comment| %>
      <%= render 'partials/comments.html.erb', comment: comment %>
    <% end %>
  <% end %>

  <%= render 'partials/make_comments.html.erb', post: post %>
<% end %>
