<h2><%= @user.name %>'s Dashboard</h2>

<form action='<%= posts_path %>' method='post' enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Upload Image:</label>
  <input type="file" name="post[image]">

  <label>Description</label>
  <textarea name="post[content]" rows="4" cols="47"></textarea>

  <input type="submit" value="Upload">
</form>

<% @posts.each do |post| %>
  <p>
    <a href="<%= post_path post %>"><img src="<%= post.image.url(:medium) %>"></a>
  </p>
  <p>
    <%= post.content %>
    <% if post.user == current_user %>
      <a href="<%= post_path post %>" data-method='delete'>Delete Post</a>
    <% end %>
  </p>

  <% if post.comments %>
    <% post.comments.each do |comment| %>
      <p>
        <a href="<%= user_path comment.user %>">
          <%= comment.user.name %>
        </a> says:
        <%= comment.content %>
        <% if comment.user == current_user %>
          <a href="<%= comment_path comment %>" data-method='delete'>Delete</a>
        <% end %>
      </p>
    <% end %>
  <% end %>

  <form action='<%= comments_path %>' method='post'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="comment[post_id]" value="<%= post.id %>">

    <textarea name="comment[content]" rows="4" cols="47"></textarea>
    <input type="submit" value="Comment">
  </form>
<% end %>
