<a href='<%= user_path @post.user %>'><%= @post.user.name %></a>
<p><img src="<%= @post.image.url(:medium) %>"></p>
<h4><%= @post.content %></h4>
<p>
  <% if @post.user == current_user %>
    <a href="<%= post_path @post %>" data-method='delete'>Delete Post</a>
  <% end %>
</p>

<% @comments.each do |comment| %>
  <%= render 'partials/comments.html.erb', comment: comment %>
<% end %>

<%= render 'partials/make_comments.html.erb', post: @post %>
